@font-face 
{
    font-family: 'Apple Chancery';
    font-style: normal;
    font-weight: normal;
    /*src: local('Apple Chancery'), url('Apple Chancery.woff') format('woff'); <-- FIX THIS */
    src: local('Apple Chancery'), url('Passerine/Apple Chancery.woff') format('woff'); 
}

h1
{
    color:rgb(247, 243, 228);
    font-size: 90px;
    margin-top: 42px;
    margin-bottom: 0px;
    font-family: 'Apple Chancery', cursive;
}

h2
{
    color:rgb(218, 208, 185);
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 60px;
    font-family: 'Passero One', cursive;
}

body
{
    /* background-image: url("https://i.pinimg.com/originals/0e/54/41/0e5441f7ebdb4c9cfa71a5b1395fb682.jpg"); */
    background-image: url("Bookshelf.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-color:rgb(19, 19, 19);
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.Title, .Title:visited
{
    color:rgb(241, 221, 134);
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

.Title:hover
{
    color:rgb(219, 201, 122);
    text-decoration: none;
}

.Title:active
{
    color:rgb(190, 175, 107);
    text-decoration: none;
}

#screenshot
{
    width: 240px;
}

.book
{
    padding-top: 50px;
    padding-right: 15px;
}

.book:active
{
    filter:blur(1px);
}

.book {
    height: 400px;
    width: 300px;
    background-image: url("Book Cover.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 100%;
}

.game-parent
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow: hidden;
    /* height: 450px; */
    /*overflow-y: scroll; <--- HIDE THIS */
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 120px;
    }

    h2{
        font-size: 70px;
    }
}